[submodule "Legacy-SW"]
	path = Legacy-SW
	url = https://github.com/novelda/Legacy-SW.git
[submodule "Legacy-Documentation"]
	path = Legacy-Documentation
	url = https://github.com/novelda/Legacy-Documentation.git
